/*------------------------ Profile Section ------------------------*/

.profile {
  background-color: #1e1e1e !important;
  border-radius: 6px;
  width: 100%;
  display: inline-block;
}

.profile-name {
  line-height: 18px;
  padding: 20px;
}

.profile_name .name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.profile_name .title {
  font-size: 17px;
  color: white;
}

.profile_image {
  margin-top: -18px;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
  clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}

.profile_image img {
  width: 100%;
}

.btn_link:hover {
  text-decoration: none;
}

.btn_link {
  color: white;
}
.profile_information {
  top: 0;
  left: 0;
  margin: -40px 10px 10px;
}
.profile_information .timeline .timeline_content {
  margin-top: 2px;
  margin-bottom: 12px;
}

.timeline_text {
  font-size: 13.5px !important;
  color: white !important;
  font-weight: 400 !important;
}
.timeline_text > a {
  color: white !important;
  text-decoration: none;
}

.timeline_text > span {
  color: white;
}

.profile .button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
