.about_text {
  color: white;
  font: smaller;
  line-height: 22px;
  white-space: pre-line;
}

.resume_timeline .timeline_content .timetable_title {
  font-size: 16px;
  font-weight: 500;
}

.resume_timeline .timeline_content .timetable_date {
  color: white;
}

.resume_timeline .timeline_content .timetable_description {
  color: white;
  font-size: small;
  font-weight: 6px;
}

.service {
  height: 100%;
  text-align: center;
}

.service .service_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
}

.service .service_description {
  color: white;
  border-color: var(--main-color);
  margin-right: 5px;
  text-align: center;
}

.service_icon .MuiSvgIcon-root {
  font-size: 46px;
  margin-left: 0;
  font-weight: 300;
  color: white;
}

.skill {
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 48px 0px rgba(4, 0, 4, 0.08) !important;
  min-height: 186px;
  height: 100%;
  background-color: #1e1e1e !important;
}

.skill .skill_title {
  font-size: 14px;
  font-weight: 500;
  line-height: 35px;
  color: white;
}

.skill .skill_description {
  display: flex !important;
  align-items: center;
  color: white;
  font-weight: 400;
  line-height: 18px;
}

.skill .skill_description .timeline_dot {
  border-color: var(--main-color) !important;
  padding: 2px;
  margin-right: 5px;
}

.conatct_info {
  font-size: 14px;
  color: white;
  line-height: 34px;
}
.contact_info > span {
  color: white;
  font-weight: 500;
}

.MuiGrid-container {
  width: inherit !important;
}
.contact_box {
  margin-top: 25px;
}

.contact_social > a > .MuiSvgIcon-root {
  font-size: 16px;
  margin-right: 10px;
  color: white;
}
